parameters:
    level: 1
    paths:
        - src
        - tests
    ignoreErrors:
        - '#(class|type) Magento\\TestFramework#i'
    bootstrapFiles:
        - vendor/bitexpert/phpstan-magento/autoload.php
    magento:
        # usually not recommended to disable ;-)
        checkServiceContracts: false
includes:
    - vendor/bitexpert/phpstan-magento/extension.neon
